.long-button{
    -fx-pref-width: 550px;
    -fx-pref-height: 40px;
    -fx-border-color: rgb(70, 77, 126);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 10px;
    -fx-background-color: rgb(144, 195, 195);
    -fx-border-radius: 3px;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.long-button:hover{
    -fx-background-color: rgb(107, 161, 161);
}
.long-button:active{
    -fx-background-color: rgb(104, 198, 198);
}
.warning-background{
	-fx-background-color: rgb(255, 0, 50);
}
.poster{
    -fx-pref-width: 150px;
    -fx-pref-height: 210px;
    -fx-alignment: center;
}
.poster-label{
	-fx-pref-width: 150px;
    -fx-pref-height: 60px;
    -fx-alignment: center;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-color:rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: rgb(201, 226, 226);
}
.vbox{
	-fx-padding:8px;
}
.vbox:hover{
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.vbox:pressed{
	-fx-opacity:0.8;
}
.boxed-label{
    -fx-pref-width:140px;
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-padding: 10px;
    -fx-color:rgb(0, 0, 0);
    -fx-border-color: rgb(70, 77, 126);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-color: rgb(201, 226, 226);
    -fx-background-radius: 15px; 
    -fx-border-radius: 15px;
}
.boxed-label:focused{
	-fx-background-color: rgb(107, 161, 161);
}
.boxed-label-focused{
	-fx-background-color: rgb(107, 161, 161);
}
.boxed-label:hover{
	-fx-background-color: rgb(104, 198, 198);
}
.textfield{
    -fx-pref-width:350px;
    -fx-pref-height: 48px;
    -fx-font-size: 24px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-border-color: rgb(70, 77, 126);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 10px;
    -fx-background-color: rgb(201, 226, 226);
    -fx-alignment: center;
    -fx-text-fill:black;
}
.header{
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-border-color: rgb(70, 77, 126);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-color: rgb(201, 226, 226);
    -fx-text-fill:black;
}
.video-label{
	-fx-pref-width:300px;
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-color:rgb(0, 0, 0);
    -fx-border-color: rgb(70, 77, 126);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-color: rgb(201, 226, 226);
}
.textarea .content{
    -fx-font-size: 12px;
    -fx-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -fx-border-color: rgb(70, 77, 126);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 3px;
    -fx-background-color: rgb(201, 226, 226);
    -fx-alignment: center;
    -fx-text-fill:black;
}